<a href="https://colab.research.google.com/github/akcterp/Scaler_DataScience/blob/main/Pandas_7_28.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
df = pd.DataFrame({'name':["Ram","Shyam","Mukesh","Suresh"],'age':[10,18,60,50]})

In [ ]:
df

     name  age
0     Ram   10
1   Shyam   18
2  Mukesh   60
3  Suresh   50

In [ ]:
df["age"]<18

0     True
1    False
2    False
3    False
Name: age, dtype: bool

In [ ]:
df1 = df.copy()

In [ ]:
df.loc[df1["age"] < 18, "age"] = "kid"
df.loc[df1["age"] > 50, "age"] = "senior"

In [ ]:
df.loc[(df1["age"] >= 18) & (df1["age"] <=50) , "age"] = "adult"

In [ ]:
df

     name     age
0     Ram     kid
1   Shyam   adult
2  Mukesh  senior
3  Suresh   adult

In [ ]:
df[df.columns[::-1]]

      age    name
0     kid     Ram
1   adult   Shyam
2  senior  Mukesh
3   adult  Suresh

In [ ]:
a = df = pd.DataFrame({'name':["Ram","Shyam","Mukesh","Suresh"],'age':[10,18,60,50]})

In [ ]:
change = lambda x: "senior" if x>50 else "adult" if x>=18 else "kid"

In [ ]:
a['age'] = a.age.apply(change)

In [ ]:
b = pd.DataFrame({'ord_no':[70001,70009,70002,70004,70007,70005,70008,70010,70003,70012,70011,70013],'purch_amt':[150.5,270.65,65.26,110.5,948.5,2400.6,5760,1983.43,2480.4,250.45, 75.29,3045.6],'ord_date': ['2012-10-05','2012-09-10','2012-10-05','2012-08-17','2012-09-10','2012-07-27','2012-09-10','2012-10-10','2012-10-10','2012-06-27','2012-08-17','2012-04-25'],'customer_id':[3005,3001,3002,3009,3005,3007,3002,3004,3009,3008,3003,3002],'salesman_id': [5002,5005,5001,5003,5002,5001,5001,5006,5003,5002,5007,5001]})

In [ ]:
b

    ord_no  purch_amt    ord_date  customer_id  salesman_id
0    70001     150.50  2012-10-05         3005         5002
1    70009     270.65  2012-09-10         3001         5005
2    70002      65.26  2012-10-05         3002         5001
3    70004     110.50  2012-08-17         3009         5003
4    70007     948.50  2012-09-10         3005         5002
5    70005    2400.60  2012-07-27         3007         5001
6    70008    5760.00  2012-09-10         3002         5001
7    70010    1983.43  2012-10-10         3004         5006
8    70003    2480.40  2012-10-10         3009         5003
9    70012     250.45  2012-06-27         3008         5002
10   70011      75.29  2012-08-17         3003         5007
11   70013    3045.60  2012-04-25         3002         5001

In [ ]:
b.groupby(['salesman_id','customer_id'])['ord_no'].count().reset_index()

   salesman_id  customer_id  ord_no
0         5001         3002       3
1         5001         3007       1
2         5002         3005       2
3         5002         3008       1
4         5003         3009       2
5         5005         3001       1
6         5006         3004       1
7         5007         3003       1

In [ ]:
final = b.groupby(['salesman_id','customer_id']).agg(ord_no = ('ord_no', 'count'))

In [ ]:
num_candidates

                         ord_no
salesman_id customer_id
5001        3002              3
            3007              1
5002        3005              2
            3008              1
5003        3009              2
5005        3001              1
5006        3004              1
5007        3003              1

In [ ]:
num_candidates

                          a   b   c
salesman_id customer_id
5001        3002        NaN NaN NaN
            3007        NaN NaN NaN
5002        3005        NaN NaN NaN
            3008        NaN NaN NaN
5003        3009        NaN NaN NaN
5005        3001        NaN NaN NaN
5006        3004        NaN NaN NaN
5007        3003        NaN NaN NaN

In [ ]:
grp = b.groupby(['salesman_id','customer_id']).groups
grp

{(5001, 3002): [2, 6, 11], (5001, 3007): [5], (5002, 3005): [0, 4], (5002, 3008): [9], (5003, 3009): [3, 8], (5005, 3001): [1], (5006, 3004): [7], (5007, 3003): [10]}

In [ ]:
cust=[]
sal=[]
for a,b in grp:
  sal.append(a)
  cust.append(b)

In [ ]:
sal = np.array(sal)

In [ ]:
cust = np.array(cust)

In [ ]:
ord = grp.values()
ord

dict_values([Int64Index([2, 6, 11], dtype='int64'), Int64Index([5], dtype='int64'), Int64Index([0, 4], dtype='int64'), Int64Index([9], dtype='int64'), Int64Index([3, 8], dtype='int64'), Int64Index([1], dtype='int64'), Int64Index([7], dtype='int64'), Int64Index([10], dtype='int64')])

In [ ]:
grp.keys()

dict_keys([(5001, 3002), (5001, 3007), (5002, 3005), (5002, 3008), (5003, 3009), (5005, 3001), (5006, 3004), (5007, 3003)])

In [ ]:
val=[]
for i in ord:
  val.append(len(i))

In [ ]:
val = np.array(val)
np.transpose(val)

array([[3],
       [1],
       [2],
       [1],
       [2],
       [1],
       [1],
       [1]])

In [ ]:
fdf = [sal,cust,val]
fdf = np.array(fdf)
fdf.reshape(3,9)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

ValueError: ignored

In [ ]:
pd.DataFrame([[sal.T,cust.T,val.T]],columns = ["salesman_id",  "customer_id",  "ord_no"])

,salesman_id,customer_id,ord_no
0,"[5001, 5001, 5002, 5002, 5003, 5005, 5006, 5007]","[3002, 3007, 3005, 3008, 3009, 3001, 3004, 3003]","[[3], [1], [2], [1], [2], [1], [1], [1]]"

In [ ]:
## Raman is very fond of vowels. One day, he got a string as a gift for his birthday. He got very excited and wanted to obtain the longest subsequence of vowels from the original string. You are asked to help Raman.

## Given a string A of lowercase English alphabets, find and return a string which is the longest subsequence of vowels in the string A.

In [ ]:
A = 'Aksihayo'

In [ ]:
len(A)

8

In [ ]:
vowels =['a','e','i','o','u']
ans = ""
A = A.lower()
for i in range(len(A)):
  if A[i:i+1] in vowels:
    ans += (A[i:i+1])

In [ ]:
ans

'aiao'